#CommentBrowser {
    grid-area: 2/6/4/7;
    padding-left: 25px;
}

.comment {
    color: gray;
}

.comment .comment{
    margin-left: 50px;
}

.clickable {
    color: gray;
}

.clickable:hover {
    cursor: pointer;
    color: cadetblue;
}

#header {
    /*margin-left: 25px;*/
}