#MainContent {
    grid-area: 2/2/2/2;
    display: grid;
    grid-template: 10% 70% 1fr 1fr/ repeat(5, 1fr) 50%;
}

#MoreButton {
    grid-row-start: 3;
    grid-column-start: 1;
    max-height: 20px;
    font-size: 20px;
    margin-top: 25px;
    color: darkslategray;
}

#MoreButton:hover {
    color: cadetblue;
    cursor: pointer;
}

